<div class="caixa">
  <div class="caixa-login caixa-login-two">
    <div class="area-de-login area-de-login-two">
      <h2 class="primeiro-titulo">Olá, amigo!</h2>
      <p class="p-titulo1">cadastre os seus dados e comece a navegar conosco</p>
      <button class="botao-entrar" (click)="btnInscrever()" >Inscrever</button>
    </div>
    <div class="criar-login criar-login-two">
      <h2 class="segundo-titulo">Acessar conta</h2>
      <div class="icones-gerais">
        <div class="icones-redes">
          <span><i class="fa-brands fa-facebook-f"></i></span>
        </div>
        <div class="icones-redes">
          <span><i class="fa-brands fa-google-plus-g"></i></span>
        </div>
        <div class="icones-redes">
          <span><i class="fa-brands fa-linkedin-in"></i></span>
        </div>
      </div>
      <p class="p-titulo2">Ou use sua conta:</p>
      <form class="form" (ngSubmit)="logar()" [formGroup]="formLogar">
        <label  class="form-login" for="email">
          <i class="far fa-user icon-modify"></i>
          <input type="text" id="email" placeholder="E-mail" formControlName="email">
        </label>
        <span *ngIf="formLogar.get('email')?.errors?.['required'] && submetido">
          Campo obrigatório
        </span>
        <label class="form-login" for="senha">
          <i class="fas fa-lock icon-modify"></i>
          <input type="password" id="senha" placeholder="Senha" formControlName="senha">
        </label>
        <span *ngIf="formLogar.get('senha')?.errors?.['required'] && submetido">
          Campo obrigatório
        </span>
        <span>{{mensagemErro}}</span>
        <br>
        <h4>Esqueceu sua senha?</h4>
        <button type="submit" class="botao-form">Entrar</button>
      </form>
    </div>
  </div>
</div>
