<div class="container">
  <div class="caixa-login">
    <div class="area-de-login">
      <h2 class="primeiro-titulo">Bem-Vindo, de volta!</h2>
      <p class="p-titulo1">para se manter conectado, faça seu login</p>
      <button class="botao-entrar">Entrar</button>
    </div>
    <div class="criar-login">
      <h2 class="segundo-titulo">Criar Conta</h2>
      <div class="icones-gerais">
        <div class="icones-redes">
          <span><i class="fa-brands fa-facebook-f"></i></span>
        </div>
        <div class="icones-redes">
          <span><i class="fa-brands fa-google-plus-g"></i></span>
        </div>
        <div class="icones-redes">
          <span><i class="fa-brands fa-linkedin-in"></i></span>
        </div>
      </div>
      <p class="p-titulo2">Ou use suas contas para se registrar:</p>
      <form class="form">
        <label  class="form-login" for="nome">
          <i class="far fa-user icon-modify"></i>
          <input type="text" id="nome" placeholder="Nome">
        </label>
        <label class="form-login" for="email">
          <i class="far fa-envelope icon-modify"></i>
          <input type="text" id="email" placeholder="E-mail">
        </label>
        <label class="form-login" for="senha">
          <i class="fas fa-lock icon-modify"></i>
          <input type="password" id="senha" placeholder="Senha">
        </label>
        <br>
        <button class="botao-form">Inscrever</button>
      </form>
    </div>
  </div>
  <!-- <div class="caixa-criar-conta">
    <div class="area-criar-conta">
      <h1>Olá, amigo!</h1>
      <p>cadastre os seus dados e comece a navegar conosco</p>
      <button>Inscrever</button>
    </div>
    <div class="acessar-login">
      <form>
        <h1>Acessar conta</h1>
        <span><i class="fa-brands fa-facebook-f"></i></span>
        <span><i class="fa-brands fa-google-plus-g"></i></span>
        <span><i class="fa-brands fa-linkedin-in"></i></span>
        <p>Ou use sua conta:</p>
        <div class="form-login">
          <label for="email">E-mail:</label>
            <i class="far fa-envelope icon-modify"></i>
          <input type="text" id="email">
        </div>
        <div class="form-login">
          <label for="senha">Senha:</label>
            <i class="fas fa-lock icon-modify"></i>
          <input type="password" id="senha">
        </div>
        <br>
        <h4>Esqueceu sua senha?</h4>
        <button>Entrar</button>
      </form>
    </div>
  </div> -->
</div>


